.html {
  font-family: Verdana, Geneva, sans-serif; }

h1 {
  color: #FEFFFF;
  font-size: 48px; }

.title {
  text-align: center;
  font-size: 74px;
  padding-top: 50px; }

.text {
  text-align: center;
  color: #FEFFFF; }
